@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400..800&family=Bungee+Hairline&family=Charmonman:wght@400;700&family=Corinthia:wght@400;700&family=Dancing+Script:wght@400..700&family=Delius+Swash+Caps&family=Edu+SA+Beginner:wght@400..700&family=Poiret+One&family=Warnes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Merienda:wght@300..900&family=Mr+De+Haviland&family=Sofia&display=swap');
*{
    padding: 0;
    margin: 0;
}
html{

    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    background-color:  #191919;
    width:100vw;
    /* background-color: black; */
}
#nav{
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:15vh;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #000000b4;
}
#nav-title{
    outline: none;
    color: white;
    background: linear-gradient(to top right,rgb(242, 77, 77),white,rgb(78, 78, 223));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    width:max-content ;
    /* flex: 1; */
    font-size: 3.5rem;
    font-weight: bold;
    margin-left: 10rem;
    /* font-family: "Charmonman", cursive; */
    font-family: "Dancing Script", cursive;
    /* font-family: "Bungee Hairline", sans-serif; */
}
#nav-title:hover{
        background: linear-gradient(to top right, rgb(242, 77, 77), white, rgb(78, 78, 223));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 300% 300%;
    animation: gradient 1s ease-in-out infinite;

}
@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
#nav-buttons{
    margin-right: 10vw;
    list-style: none;
    display: flex;
    /* background-color: blue; */
    /* flex: 2; */
    transition: 0.9s ease all;
}
#nav-buttons li{
    transition: 0.3s ease all;
}
.nav-button-each {
    outline: none;
    font-family: "Delius Swash Caps", cursive;
    color: white;
    font-size: 1.2rem;
    font-weight: 100;
    margin-left:5vw;
}
#nav-buttons li:hover{
    transform: translateY(-5px);

}
#nav-buttons li a:hover{
    background: linear-gradient(to top right, rgb(242, 116, 116), white, rgb(105, 105, 247));
             -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        /* background-size: 300% 300%;  */

}
a{
    text-decoration: none;
    color: white; 
}
#menu{
    cursor: pointer;
    /* padding: 0; */
    margin:0 10vw 0 0;
    display: none;
    border: none;
    background-color: rgb(25, 25, 25);
}
i{ 

    font-size: 2rem;
    color:white;
    background-color: rgb(25, 25, 25);
}
/* home body part */
#home{
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#profile-pic{
    margin-right: 3rem;
    height:70vh;
    filter: grayscale(0.5);
    /* mix-blend-mode:  multiply; */

    /* -webkit-filter: invert(1);  invert image
        filter: invert(1); */
}


.profile-details{/* details*/
    margin-left: 5rem;
    color: white;
    width: 450px;
}
#hello{
    font-size: 2.5rem;
    font-weight: bold;
    /* font-family: "Poiret One", sans-serif; */
    /* font-family: "Warnes", cursive; */
    font-family: "Merienda", cursive;
}
#i-am{
    font-size: 5rem;
    /* font-family: "Warnes", cursive; */
    font-weight: bold;
    /* font-family: "Poiret One", sans-serif; */
    font-family: "Merienda", cursive;
}
#intro{
    border-radius:20px 5px;
    margin: 10px 0;
    font-size: 1.5rem;
    color: black;
    /* background-color: white; */
    background-image: linear-gradient(to top right,rgb(251, 120, 120),white,rgb(176, 176, 245));
    font-weight: 900;
    padding: 5px  10px;
    font-family: "Poiret One", sans-serif;
    /* border-radius: ; */
    width: max-content;
}
#intro2{
    font-family: "Poiret One", sans-serif;
    font-size: 1.2rem;
}
#find-me{
    font-family: "Poiret One", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
}
.socials{
    display: flex;
}
.socials i{
    cursor: pointer;
    margin-right: 10px;
}
.socials li{
    transition:0.3s all ease;
    list-style: none;
}
.socials li i:hover{
    background: linear-gradient(to top right, rgb(242, 116, 116), white, rgb(105, 105, 247));
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent; 
}.socials li:hover{
    transform: scale(1.5);
}
.burger{
    
    position: absolute;
    right:-60vw;
    top: 0;
    background-color: aqua;
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
}

#about{
    width:100vw;
    height:100vh;
}
@media only screen and (width<500px) {
    
    .home{
        flex-direction: column;
        justify-content: start;
    }
    #profile-pic{
        margin: 0 0 0 0px;
        height:40vh;
    }
    #nav{
        height:10vh;

    }
    #nav-title{
        font-size: 2.5rem;

       margin-left:3rem; 
    }
    #nav-buttons{
        margin:0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 90vh;
        position: fixed;
        top: 10vh;
        right: -100%;
        z-index: 100;
        background-color: #191919;
        /* display: none; */
    }
    .profile-details{
        margin-left: 2vw;
        width:80vw;
    }
    #hello{
        font-size: 2rem;
    }
    #i-am{
        font-size: 3rem;
    }
    #intro{
        font-size:1rem;
    }
    #intro2{
        font-size: 1rem;
    }
    #menu{
        display: block;
    }
}
    
.show{
    background-color:red;
}